/*Fonts*/
main {
	font-family: 'Overpass', sans-serif;
}
main i {
	font-family: 'Caveat', cursive;
	font-size: 20px;
}
/*Header*/
.header-abai {
	width: 100%;
}
.header-abai > .headline-abai {
	width: 50%;
	text-align: center;
	margin-left: 25%;
}
.headline-abai > h1 {
	width: 30%;
	margin-left: 35%;
	text-align: center;
	font-weight: 900;
}
.headline-abai > h1:hover {
	text-shadow: 0px 0px 5px yellow, 0px -5px 0px red;
}
/*Main*/
.card-body > h3 {
	margin-left: 40%;
}
/*Section*/
.section-abai {
	margin-top: 2%;
	margin-bottom: 2%;
}
/*Subtitle*/
.subtitle-abai > h2 {
	margin-bottom: 2%;
	text-align: center;
	font-weight: 900;
}
/*Footer*/
footer {
	width: 100%;
	display: flex;
	justify-content: center;
}
footer div {
	width: 25%;
}
/*Other*/
main a,
footer a {
	text-decoration: none;
	color: black;
}
main a:hover,
footer a:hover {
	text-decoration: underline;
	color: red;
}
